@keyframes slide-menu {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes rotation-confirm {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loader {
  0% {
    opacity: 0.95;
    z-index: 10000;
  }
  50% {
    opacity: 0.95;
    z-index: 10000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
  color: #000000;
  font-size: 1.7rem;
  font-weight: 100;
}

h1 {
  font-family: "roboto", sans-serif;
  font-size: 2.8rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 2.5rem;
}

h3 {
  font-family: "roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 1.6rem;
}

.btn {
  border: none;
  box-shadow: 0rem 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
}
.btn--primary {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 10rem;
  color: #ffffff;
  padding: 1.8rem 2.2rem;
  scale: 1;
  transition-duration: 300ms;
}
.btn--primary:hover {
  box-shadow: 0rem 0.3rem 1.5rem rgba(0, 0, 0, 0.7);
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  transform: scale(1.05);
}
.btn--step {
  background-color: #f6f6f6;
  border-radius: 2.5rem;
  padding: 2.5rem;
  transition-duration: 300ms;
}
.btn--step i {
  padding-right: 2rem;
}
.btn--step:hover {
  background-color: #f4eefc;
  box-shadow: 0rem 0.3rem 1.5rem rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}
.btn--step:hover i {
  color: #9356dc;
}
.btn--dish {
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  font-weight: 100;
  font-size: 1.5rem;
  display: flex;
}
@media screen and (min-width: 1220px) {
  .btn--dish {
    width: 34.5rem;
  }
}
.btn--dish .dish__description {
  padding: 1.5rem;
  overflow: hidden;
}
.btn--dish .dish__description h3,
.btn--dish .dish__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn--dish .dish__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
  margin-left: auto;
}
.btn--dish .dish__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  background-color: #99e2d0;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  font-size: 3rem;
  color: white;
  margin-right: -9rem;
  transition: margin 500ms;
  flex-shrink: 0;
}
.btn--dish:hover .dish__confirm {
  margin: 0;
}
.btn--dish:hover i {
  animation: rotation-confirm 500ms ease-in-out;
}
.btn--order {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 10rem;
  color: #ffffff;
  padding: 1.7rem 5rem;
  font-size: 1.5rem;
  transition-duration: 300ms;
}
.btn--order:hover {
  box-shadow: 0rem 0.3rem 1.5rem rgba(0, 0, 0, 0.7);
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  transform: scale(1.05);
}

.card {
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.card__img img {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
  object-position: 0% 61%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.card__footer {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.bullet-point {
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem;
  bottom: 2.3rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 5rem;
}

.card__news {
  position: absolute;
  display: flex;
  font-weight: 700;
  background-color: #99E2D0;
  color: #2c9c81;
  top: 1rem;
  right: 2rem;
  padding: 0rem 1rem;
  border-radius: 0.2rem;
}

.card {
  position: relative;
}
.card .fa-heart {
  position: absolute;
  bottom: 3rem;
  right: 2.5rem;
  padding: 0.1rem;
  border-radius: 50px;
  font-size: 2.5rem;
}
.card .fa-solid {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.card :hover .fa-solid {
  opacity: 1;
  transform: scale(1.15);
  transform-origin: center;
  transition: all 500ms cubic-bezier(0.57, 0.74, 0.84, -0.06);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0.95;
  animation: loader 2000ms both;
}
.loader h1 {
  font-size: 3rem;
  color: black;
  font-family: "shrikhand", sans-serif;
  padding: 0rem 2rem;
}
.loader__spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  border: 0.6rem solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.loader__spinner::after {
  content: "";
  position: absolute;
  inset: -0.6rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  border: 0.6rem solid transparent;
  border-top-color: #99e2d0;
  animation: spinner 1000ms ease-in-out;
}

.wrapper {
  max-width: 1340px;
  width: 100%;
  margin: 0px auto;
}

.header-content {
  position: relative;
  text-align: center;
  padding: 22px 0px 10px 0px;
}
.header-content__logo {
  height: 30px;
  width: auto;
}
.header-content__back-link {
  position: absolute;
  left: 1.5rem;
  font-size: 2rem;
}

.location-form {
  background-color: #e9e9e9;
  padding: 15px 0;
  text-align: center;
  box-shadow: inset 0px 10px 14px -9px #aaaaaa;
}
.location-form__label > span {
  font: 0/0 a;
}
.location-form__label > i {
  color: #373737;
  padding-right: 10px;
}
.location-form__input {
  border: none;
  background-color: #e9e9e9;
  width: 140px;
}
.location-form__input::placeholder {
  color: #373737;
  font-weight: 600;
}

footer {
  background-color: #373737;
}
footer .footer-content {
  color: #ffffff;
  padding: 2.5rem 2rem;
}
footer .footer-content__heading {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}
footer .footer-content__links {
  list-style: none;
}
footer .footer-content__links a {
  color: #ffffff;
  font-weight: 400;
  line-height: 2.5rem;
}
footer .footer-content__links i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
footer .footer-content__links span {
  margin-left: 0.6rem;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    margin: 5rem 0rem;
  }
}
.intro .accueil-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
  padding: 4rem 2rem 5.5rem 2rem;
}
@media screen and (min-width: 768px) {
  .intro .accueil-intro {
    border-radius: 1.5rem;
    justify-content: center;
    width: 60%;
  }
}
.intro .accueil-intro__argument {
  padding-bottom: 3rem;
}

.explaination {
  padding: 5rem 2rem 5rem 2rem;
}
@media screen and (min-width: 768px) {
  .explaination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 1.6rem;
  }
}
.explaination__list {
  list-style: none;
}
.explaination__list li {
  position: relative;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .explaination__list li {
    display: flex;
    justify-content: space-evenly;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 4rem 2rem 6rem 2rem;
}
@media screen and (min-width: 768px) {
  .restaurants {
    border-radius: 1.5rem;
    margin: 2.5rem 0rem 5rem 0rem;
    padding: 8rem 10rem;
  }
}
.restaurants__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .restaurants__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .restaurant-intro {
    margin: 5rem 0rem;
  }
}
.restaurant-intro__img {
  display: block;
  width: 100%;
  height: 26rem;
  object-fit: cover;
}

.restaurant-menu {
  position: relative;
  margin-top: -5rem;
  background-color: #f6f6f6;
  border-radius: 4.5rem 4.5rem 0rem 0rem;
  padding: 4rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .restaurant-menu {
    padding: 4rem 7.5rem;
  }
}
@media screen and (min-width: 1220px) {
  .restaurant-menu {
    padding: 4rem 7.5rem;
  }
}
@media screen and (min-width: 1220px) {
  .restaurant-menu__container {
    display: flex;
    justify-content: space-between;
  }
}
.restaurant-menu__heading {
  display: flex;
  align-items: center;
  font-family: "shrikhand";
  font-size: 2.8rem;
}
.restaurant-menu__heading::before {
  display: inline-block;
  position: absolute;
  right: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  opacity: 1;
  transition: all 350ms ease-in-out;
}
.restaurant-menu__heading::after {
  display: inline-block;
  position: absolute;
  right: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  opacity: 1;
  transition: all 350ms ease-in-out;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  opacity: 0;
}
.restaurant-menu__heading:hover::after {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.15);
  transform-origin: center;
  transition: all 500ms cubic-bezier(0.57, 0.74, 0.84, -0.06);
}
.restaurant-menu__order {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container-dish {
    justify-self: center;
  }
}
@media screen and (min-width: 1220px) {
  .container-dish {
    justify-self: center;
  }
}
.container-dish__dish {
  position: relative;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.container-dish__dish::before {
  width: 4rem;
  height: 0.2rem;
  content: "";
  position: absolute;
  bottom: 1.5rem;
  background-color: #99e2d0;
}
.container-dish__list {
  padding-bottom: 2rem;
}
.container-dish__list li {
  overflow: hidden;
  margin-bottom: 2rem;
  list-style: none;
  opacity: 0;
  animation: slide-menu 1000ms both;
}
.container-dish__list li:nth-of-type(1) {
  animation-delay: 100ms;
}
.container-dish__list li:nth-of-type(2) {
  animation-delay: 300ms;
}
.container-dish__list li:nth-of-type(3) {
  animation-delay: 450ms;
}

/*# sourceMappingURL=style.css.map */
