* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family__text);
  color: var(--text-primary);
  font-size: 1.6rem;
}

h1 {
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 30px;
}

h3 {
  padding-bottom: 5px;
}

ul {
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.header {
  text-align: center;
}
.header .header-logo {
  padding: 22px 0 10px 0;
}
.header .header-logo__img {
  height: 30px;
  width: auto;
}
.header .header-formular {
  background-color: var(--background-secondary);
  padding: 15px 0;
}
.header .header-formular__hiddenLabel {
  font: 0/0 a;
}
.header .header-formular__icoLabel {
  color: var(--ico-secondary);
  padding-right: 10px;
}
.header .header-formular__input {
  border: none;
  background-color: var(--background-secondary);
  width: 140px;
}
.header .header-formular__input::placeholder {
  color: var(--ico-secondary);
  font-weight: bold;
}

.intro__exploration {
  text-align: center;
  background: var(--background-tertiary);
  padding: 40px 47px;
}
.intro__btn {
  display: inline-block;
  margin: 30px 0px 15px 0px;
  border: none;
  background: -webkit-linear-gradient(bottom right, #9456dc, #ff79db);
  background: -moz-linear-gradient(bottom right, #9456dc, #ff79db);
  background: linear-gradient(to top left, #9456dc, #ff79db);
  padding: 18px 22px;
  border-radius: 100px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  color: var(--text-secondary);
  font-weight: bold;
}

.explaination {
  padding: 47px 20px 60px 20px;
}
.explaination__stepContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 17px;
}
.explaination__stepButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  border: none;
  background: var(--background-secondary);
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  color: var(--text-primary);
  font-weight: bold;
  text-align: left;
}
.explaination__stepNumber {
  margin-left: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-secondary);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.explaination__stepIcon {
  padding: 0px 16px;
}

.restaurants {
  padding: 47px 20px;
  background-color: var(--background-tertiary);
}
.restaurants__containerCards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.restaurants__containerCards .card {
  background-color: var(--background-primary);
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.restaurants__containerCards .card__link {
  display: block;
}
.restaurants__containerCards .card__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__containerCards .card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
}

.footer-content {
  background-color: var(--background-dark);
  color: var(--text-secondary);
}
.footer-content h2 {
  font-family: var(--font-family__title);
  font-size: 18px;
}
.footer-content nav a {
  color: var(--text-secondary);
}

/*# sourceMappingURL=style.css.map */
