@mixin primary-btn-design {
    border: none;
    background: -webkit-linear-gradient(bottom right, #9456dc, #ff79db);
    background: -moz-linear-gradient(bottom right, #9456dc, #ff79db);
    background: linear-gradient(to top left, #9456dc, #ff79db);
    padding: 18px 22px;
    border-radius: 100px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    color: var(--text-secondary);
    font-weight: bold;
}

@mixin secondary-btn-design {
    border: none;
    background: var(--background-secondary);
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    color: var(--text-primary);
    font-weight: bold;
    text-align: left;
}

@mixin chip-design{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--text-secondary);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}