html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family__text);
  color: var(--text-primary);
  font-size: 1.6rem;
}

h1,
h2 {
  padding-bottom: 20px;
}
h3{
  padding-bottom: 5px;
}

ul {
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

