@mixin btn {
  border: none;
  padding: 1.8rem 2.2rem;
  box-shadow: 0rem 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
  &--primary {
    background: -webkit-linear-gradient(bottom right, #9456dc, #ff79db);
    background: -moz-linear-gradient(bottom right, #9456dc, #ff79db);
    background: linear-gradient(to top left, #9456dc, #ff79db);
    border-radius: 10rem;
    color: $color-white;
  }
  &--step{
    background-color: $color-background;
    border-radius: 2.5rem;
    padding: 2.5rem;
    i{
      padding-right: 2rem;
    }

  }
}

// @mixin secondary-btn-design {
//   border: none;
//   background: var(--background-secondary);
//   border-radius: 10px;
//   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
//   color: var(--text-primary);
//   font-weight: bold;
//   text-align: left;
// }

// @mixin chip-design {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--primary);
//   color: var(--color-white);
//   border-radius: 50%;
//   height: 30px;
//   width: 30px;
// }

// @mixin card-design {
//   background-color: var(--color-white);
//   border-radius: 15px;
//   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
// }
// @mixin restaurant-imgCard-design {
//   width: 100%;
//   height: 170px;
//   object-fit: cover;
//   border-radius: 15px 15px 0px 0px;
// }
// @mixin card-descriptionCard-design {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 15px 20px 15px 20px;
// }
