$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #ffffff;
$color-black: #000000;
$color-background: #f6f6f6;
$color-linear-gradient--primaryToSecondary: linear-gradient(
  to top left,
  $color-primary,
  $color-secondary
);
$color-lighten-linear-gradient--primaryToSecondary: linear-gradient(
  to top left,
  lighten($color-primary, 5%),
  lighten($color-secondary, 5%)
);
