.accueil-intro {
    text-align: center;
    background: $color-background;
    padding: 4rem 2rem 5.5rem 2rem;
    &__argument{
      padding-bottom: 3rem;
    }
  }

  .explaination{
    padding: 5rem 2rem 5rem 2rem;
    &__list  > li{
      margin-bottom: 2rem;
    }
  }