*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // in order to change the default setting 16px by now 10px.
  font-size: 62.5%;
}

#text{
  height: 0;
  width: 0;
}
